:root {
  --hero-color: #fae7cb;
  --branding-color: #6C63FF;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
}

h1, h3, h4, h5 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 86px;
}

h2 {
  font-size: 24px;
  color: #272142;
}

p, h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
}

h3 {
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 1.5; /* Ensure proper line height */
  text-align: center;
  word-wrap: break-word; /* Ensure words wrap within the container */
}

h5 {
  text-align: center;
  font-size: 36px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 20px; 
}

nav a {
  text-decoration: none; 
  color: #272142; 
  opacity: 70%;
  transition: all 100ms ease-in-out;
}

nav a:hover, nav li.active a {
  color: var(--branding-color); 
}

.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding: 60px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-hero {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-family: var(--default-font-family); 
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  padding: 18px 30px;
  line-height: 27px;
}

.btn-hero :hover {
  background-color: white;
  color: var(--branding-color);
}

 .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      background-color: #fff;
    }

     .card-body {
      flex: 1;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .button-container {
      display: flex;
      justify-content: center;
      margin-top: auto;
    }

.medium-img {
  width: 75%;
  height: auto;
  display: block;
  margin-right: 0 auto;
}


.card-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}

.card-img-top {
  height: 80%;
}

.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}




@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 16px;
  }

  .hero p {
    font-size: 24px;
  }

  .card-body {
    text-align: center;
  }

  .btn-hero {
    font-size: 16px;
    padding: 12px 24px;
  }

  .card-text {
    max-width: 100%; /* Adjust as needed */
    margin: 0 auto;
  }
  .about-me {
    text-align: center;
    padding: 0;
  }
  .about-me h1 {
    font-size: 48px;
  }
  .about-me h2 {
    font-size: 36px;
  }

  .row-cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }

  .row-cols-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .card-text {
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto;
}
    .about-me {
    text-align: center;
    padding: 0;
  }
  
.about-me {
  text-align: center;
  padding: 120px 20px;
}

.about-me h1 {
  font-size: 36px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.about-me h2 {
  font-size: 20px;
  font-family: var(--default-font-family);
}

.profile {
  padding-left: 35px;
}

.middle {
  display: block;
  margin: 0 auto;
}

nav {
  padding: 20px 0px;
}
nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display:inline;
  list-style: none;
  line-height: 40px;
  margin-left: 10px; 

}
nav a {
  text-decoration: none;
  color:#272142;
  opacity: 70%;
  transition: all 100ms ease-in-out;
}
nav a:hover, nav li.active a {
  color: var(--branding-color);
}

.social {
  font-size: 45px;
  color: var(--branding-color);
  padding: 20px;
  transition: all 150ms ease-in-out;

}

 .fa-linkedin:hover {
            color: white; 
            background-color: var(--branding-color);
        }

        .fa-envelope:hover {
            color: white;  
            background-color: var(--branding-color);
        }
         .row-cols-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

