:root {
  --hero-color: #e4e1eb; 
  --branding-color: #6C63FF;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", serif;
}

h1, h3, h4, h5 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 86px;
}

h2 {
  font-size: 24px;
  color: #272142;
}

p, h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
}

h3 {
  font-size: 64px;
}

p {
  font-size: 16px;
  line-height: 1.5; /* Ensure proper line height */
  text-align: center;
  word-wrap: break-word; /* Ensure words wrap within the container */
}

h5 {
  text-align: center;
  font-size: 36px;
}

.hero {
  background-color: var(--hero-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.btn-hero {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  font-family: var(--default-font-family); 
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  padding: 18px 30px;
  line-height: 27px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-family: var(--default-font-family); 
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  display: flex;
  justify-content: center;
}

.medium-img {
  width: 75%;
  height: auto;
}

.card-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Remove fixed height */
  padding: 20px; /* Add padding for spacing */
}

.card-img-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; 
}

.footer {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 20px;
  }

  .hero p {
    font-size: 24px;
  }

  .card-body {
    text-align: center;
  }

  .btn-hero {
    font-size: 16px;
    padding: 12px 24px;
  }

  .btn-branding-outline {
    font-size: 16px;
    padding: 12px 24px;
  }

  /* Ensure paragraph text wraps into two lines */
  .card-text {
    max-width: 100%; /* Adjust as needed */
    margin: 0 auto;
  }
}

@media (max-width: 576px) {
  .card-text {
    max-width: 80%; /* Adjust as needed */
    margin: 0 auto;
  }
}